.header {
  align-items: center;
  display: flex;
  min-height: 60px;
  @apply md:w-full md:bg-light-100 z-50;
}

.header > div {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.group {
  align-items: center;
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .group {
  align-items: baseline;
}

.group li:not(:last-child) {
  margin-right: 16px;
}

.group li {
  border-radius: 6px;
}

.group a {
  display: block;
  padding: 4px 12px;
}

.group .logo {
  padding: 0;
  margin-right: 12px;
}
